@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body {
  font: 10pt "Open Sans", sans-serif;
  margin: 0;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  padding: 0 8px;
  background-image: linear-gradient(#fefefe, #efefef);
  border-bottom: 1px solid #ddd;
  text-shadow: 0 1px 0px rgba(255,255,255,0.5);
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

#brand {
  display: block;
  padding: 16px;
}

.link {
  display: block;
  padding: 16px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  background-image: linear-gradient(#fff, #f4f4f4);
  color: #555;
  box-shadow: -1px 0 0 #ddd inset,
              -1px 0 0 #ddd;
}

.link:active {
  background-image: linear-gradient(#efefef, #dfdfdf);
  color: #000;
  box-shadow: -1px 0 0 #ddd inset,
              -1px 0 0 #ddd;
}

.link.active {
  box-shadow: -1px 0 0 #ddd inset,
              -1px 0 0 #ddd;
  background-image: linear-gradient(#dfdfdf, #efefef);
}

main {
  margin-top: 51px;
}

section {
  box-sizing: border-box;
  height: 100vh;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section.focus {
  font-size: 24pt;
  text-shadow: 0 2px 1px rgba(0,0,0,0.1);
}

section:not(:last-child) {
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.wrapper {
  max-width: 640px;
  margin: 0 auto;
}

.download-link {
  display: inline-block;
  padding: 8px 16px;
  background-image: linear-gradient(#86c476, #3e8f2a);
  border: 1px solid #255019;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.333) inset,
              0 -1px 0 rgba(0, 0, 0, 0.1) inset,
              0 2px 4px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 0px rgba(0,0,0,0.333);
}

.download-link:hover {
  background-image: linear-gradient(#acdf9f, #53a53f);
  border: 1px solid #37682a;
}

.download-link:active {
  background-image: linear-gradient(#215015, #377527);
  border: 1px solid #15310e;
}

pre {
  text-align: left;
}

code.il {
  color: #00f;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  padding: 0.5em;
  background: #f4f4f4;
}

.sh {
  width: 100%;
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #f4f4f4;
  color: black;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.sh-comment,
.sh-quote,
.sh-variable {
  color: #008000;
}

.sh-keyword,
.sh-selector-tag,
.sh-built_in,
.sh-name,
.sh-tag {
  color: #00f;
}

.sh-string,
.sh-title,
.sh-section,
.sh-attribute,
.sh-literal,
.sh-template-tag,
.sh-template-variable,
.sh-type,
.sh-addition {
  color: #a31515;
}

.sh-deletion,
.sh-selector-attr,
.sh-selector-pseudo,
.sh-meta {
  color: #2b91af;
}

.sh-doctag {
  color: #808080;
}

.sh-attr {
  color: #f00;
}

.sh-symbol,
.sh-bullet,
.sh-link {
  color: #00b0e8;
}

.sh-emphasis {
  font-style: italic;
}

.sh-strong {
  font-weight: bold;
}
